.page-title {
  font-size: 36px;
  font-weight: bold;
  color: $blueColor;
  line-height: 1;
  text-align: center;
  margin: 30px 0;
}

.list-news {
  .item-news {
    .item-image {
      border: 1px solid $blueColor;
      display: block;
      margin-bottom: 15px;
      -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.3);
      -moz-box-shadow: 0 2px 3px rgba(0,0,0,0.3);
      box-shadow: 0 2px 3px rgba(0,0,0,0.3);
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .item-title {
      font-weight: bold;
      color: $blueColor;
      @include hiddenText(24px, 1.2, 3);
      &:hover{
        text-decoration: underline;
      }
    }
    .item-description {
      @include hiddenText(18px, 1.4, 4);
      margin-bottom: 10px;
    }
    .item-type {
      font-weight: bold;
      font-size: 18px;
      color: $blueColor;
    }
    .item-created-time {
      font-size: 18px;
      color: #848484;
    }
  }
  &.list-block{
    padding: 10px 0;
    .item-news{
      padding: 20px 0;
      border-bottom: 1px solid #848484;
      &:last-child{
        border-bottom: none;
      }
      .item-image{
        width: 50%;
        float: left;
        margin-right: 20px;
        height: 260px;
      }
      .item-description{
        @include hiddenText(18px, 1.4, 5);
        margin-bottom: 25px;
      }
    }
  }
}

.list-feature-news {
  display: flex;
  .item-news {
    margin-bottom: 30px;
    .item-image {
      height: 220px;
    }
    &.item-lg {
      width: 60%;
      padding-right: 10px;
    }
    &.item-sm {
      width: 40%;
      padding-left: 10px;
    }
  }
  border-bottom: 2px solid $blueColor;
}

.page{
  ul{
    li{
      display: inline-block;
      margin: 2px 10px;
      &:first-child{
        a{
          width: 0;
          border-style: solid;
          border-width: 25px 40px 25px 0;
          border-color: transparent $blueColor transparent transparent;
        }
      }
      &:last-child{
        a{
          width: 0;
          height: 0;
          border-style: solid;
          border-width: 25px 0 25px 40px;
          border-color: transparent transparent transparent $blueColor;
        }

      }
      a{
        display: inline-block;
        min-width: 50px;
        line-height: 50px;
        height: 50px;
        background-color: #8e8e8e;
        text-align: center;
        font-size:30px;
      }
      &.active{
        a{
          color: #ffffff;
          font-weight:bold;
        }
      }
    }
  }
}